<link href="/css/admin.css" rel="stylesheet" type="text/css" media="all" />
<div class="admin_box">
  <div style="float:left;width:160px; height:100px;">
    <a href="/admin/register"><img src="/images/register_gray.png"/></a>
    <img src="/images/register_green.png"/>
  </div>
  <div class="white_box">
      <div class="text_box">
    <form action="/admin/new_info" method="post" enctype="multipart/form-data">
        <p style="color:#595757; font-size:20px;"><img src="/images/list_icon.png" style="vertical-align:bottom;"/> 업체 수정</p>
        <table class="center" >
          <tr style="background:url('/images/board_background.png');">
            <td style="width:100px; text-align:center;">
              <p>순번</p>
            </td>
            <td style=" width: 400px;text-align:center;">
              <p>업체명</p>
            </td>
            <td>
            </td>
          </tr>
          <% @companies.each do |company|%>
          <tr>
            <td>
              <p><%= company.id%></p>
            </td>
            <td>
              <p><%= company.title%></p>
            </td>
            <td style="width:200px;">
              <a href="/admin/edit/<%=company.id%>">
                <img src="/images/revise.png"/>
              </a>
              <a href="/admin/delete/<%=company.id%>">
                <img src="/images/remove.png" style="margin-left:10px;"/>
              </a>
            </td>
          </tr>
          <%end%>
        </table>
  </div>
</div>

