<link href="/css/admin.css" rel="stylesheet" type="text/css" media="all" />
<div class="admin_box">
  <div style="float:left;width:160px; height:100px;">
    <a href="/admin/register"><img src="/images/register_gray.png"/></a>
    <img src="/images/register_green.png"/>
  </div>
  <div class="white_box">
      <div class="text_box">
    <form action="/admin/new_info" method="post" enctype="multipart/form-data">
        <p style="color:#595757; font-size:20px;"><img src="/images/list_icon.png" style="vertical-align:bottom;"/> 업체 수정</p>
        <table class="center" >
          <tr style="background:url('/images/board_background.png');">
            <td style="width:100px; text-align:center;">
              <p>순번</p>
            </td>
            <td style=" width: 400px;text-align:center;">
              <p>업체명</p>
            </td>
            <td>
            </td>
          </tr>
          <% @companies.each do |company|%>
          <tr>
            <td>
              <p><%= company.id%></p>
            </td>
            <td>
              <p><%= company.title%></p>
            </td>
            <td style="width:200px;">
              <a href="/admin/edit/<%=company.id%>">
                <img src="/images/revise.png"/>
              </a>
              <a href="/admin/delete/<%=company.id%>">
                <img src="/images/remove.png" style="margin-left:10px;"/>
              </a>
            </td>
          </tr>
          <%end%>
          <tr>
            <td>
              <p>3. 주소:</p>
            </td>
            <td>
              <input type="text" name="address">
            </td>
          </tr>
          <tr>
            <td>
              <p>4. 대표전화:</p>
            </td>
            <td>
              <input type="text" name="phone">
            </td>
          </tr>
          <tr>
            <td>
              <p>5. 홈페이지:</p>
            </td>
            <td>
              <input type="text" name="homepage">
            </td>
          </tr>
          <tr>
            <td>
              <p>6. 쇼핑몰주소:</p>
            </td>
            <td>
              <input type="text" name="shopping">
            </td>
          </tr>
        </table>
        <table>
          <tr>
            <td>
              <p>7. 업체소개서:</p>
            </td>
          </tr>
          <tr>
            <td>
              <input type="file" name="portfolio">
            </td>
          </tr>
          <tr>
            <td>
              <p>8. 업체 로고(썸네일):</p>
            </td>
          </tr>
          <tr>
            <td>
              <input type="file" name="thumbnail_image">
            </td>
          </tr>
          <tr>
            <td>
              <p>9. 업체메인이미지(메인배경으로 보여질 화면입니다.):</p>
            </td>
          </tr>
          <tr>
            <td>
              <input type="file" name="big_image">
            </td>
          </tr>
          <tr>
            <td>
              <p>10. 업체 소개 내용</p>
            </td>
          </tr>
        </table>
      <textarea name="content" style="width:100%;"></textarea>
      <div style="text-align:center; padding-top:20px; padding-bottom:20px;">
        <input src="/images/register_btn.png"type="image" value="제출">
      </div>
    </div>
    </form>
  </div>
</div>

